@font-face{
    font-family: "restName";
    src: url(Fonts/);
}
.head{
    text-align: left;
}
body{
    background-color: rgb(77, 121, 77);
}
footer{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.07);
}
a{
    padding: 5px;
    font-weight: bold;
    font-size: 110%;
}
.atten {
    font-style: italic;
    font-weight: bold;
    font-size: 120%;
    color: red;
    text-shadow: black;
}
img{
    display: block;
    margin: auto;
}
.nav{
    background-color: rgba(255, 255, 255, 0.13);
}
hr{
    border-color: rgba(167, 43, 43, 0.898);
}
.restName{

}